<div class="post small">
  <div class="body">
    {{#if photo}}
    <div class="image mr-1">
      <img src="{{photo.url}}" alt="{{photo.alt}}">
    </div>
    {{/if}}
    <div class="content">
      <div class="content-text flex-item">
        {{#markdown}}{{{content}}}{{/markdown}}
      </div>
    </div>
  </div>
  <a href="/notes/{{slug}}" class="timestamp">
    <time>{{timestamp}}</time>
  </a>
</div>
