<html>
  <head>
    <title>Notes</title>
    <link rel="icon" data-emoji="ðŸ“" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/scripts/emoji-favicon.js"></script>
    <link rel="stylesheet" href="/index.css">
    
    <link rel="me" href="https://micro.blog/koddsson">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://koddsson.com/micropub">

    <link rel="webmention" href="https://webmention.io/koddsson.com/webmention" />
    <link rel="pingback" href="https://webmention.io/koddsson.com/xmlrpc" />
        
    <script>
      const data = {
        "links": [
          {
            "source": "https://micro.blog/koddsson/1434304",
            "verified": true,
            "verified_date": "2018-12-16T21:40:20+00:00",
            "id": 569888,
            "private": false,
            "data": {
              "author": {
                "name": "koddsson",
                "url": "https://micro.blog/koddsson",
                "photo": "https://webmention.io/avatar/www.gravatar.com/8dea5515003487501ed2127fc4666fc0d78983cf2e1b4d1343feee99ec237eb1.jpg"
              },
              "url": "https://micro.blog/koddsson/1434304",
              "name": null,
              "content": "<p><a href=\"https://micro.blog/koddsson\">@koddsson</a> more testing!</p>",
              "published": "2018-12-16T21:40:05+00:00",
              "published_ts": 1544996405
            },
            "activity": {
              "type": "reply",
              "sentence": "koddsson commented '@koddsson more testing!' on a post https://koddsson.com/notes/1544907152",
              "sentence_html": "<a href=\"https://micro.blog/koddsson\">koddsson</a> commented '@koddsson more testing!' on a post <a href=\"https://koddsson.com/notes/1544907152\">https://koddsson.com/notes/1544907152</a>"
            },
            "target": "https://koddsson.com/notes/1544907152"
          },
          {
            "source": "https://brid-gy.appspot.com/like/twitter/koddsson/1080491621874089986/15578573",
            "verified":true,
            "verified_date":"2019-01-02T18:06:51+00:00",
            "id":573328,
            "private":false,
            "data": {
              "author": {
                "name":"yess_padilla",
                "url":"https://twitter.com/yess_padilla",
                "photo":"https://webmention.io/avatar/pbs.twimg.com/aeb223ce53dfcfe8437d0cf954cdf675629db7a051bbab27c111e4940aa9b2bd.jpg"
              },
              "url": "https://twitter.com/koddsson/status/1080491621874089986#favorited-by-15578573",
              "name":null,
              "content":null,
              "published":null,
              "published_ts":null
            },
            "activity": {
              "type":"like",
              "sentence":"yess_padilla favorited a tweet https://koddsson.com/notes/1546444251",
              "sentence_html":"<a href=\"https://twitter.com/yess_padilla\">yess_padilla</a> favorited a tweet <a href=\"https://koddsson.com/notes/1546444251\">https://koddsson.com/notes/1546444251</a>"
            },
            "target":"https://koddsson.com/notes/1546444251"
          },
        ]
      }
      document.addEventListener('DOMContentLoaded', async () => {
        const response = await fetch(`https://webmention.io/api/mentions?target=${window.location.origin}${window.location.pathname}`)
        const data = await response.json()
        const container = document.querySelector('#container')
        for (const comment of data.links) {
          if (comment.activity.type === 'like') {
            const t = document.querySelector('template#like').cloneNode(true).content
            t.querySelector('.profile-pic').src = comment.data.author.photo
            t.querySelector('.author').textContent = comment.data.author.name
            t.querySelector('.author').href = comment.data.author.url

            t.querySelector('time a').href = comment.data.url
            t.querySelector('time a').textContent = comment.verified_date
            container.appendChild(t)
            return 
          }
          const t = document.querySelector('template#comment').cloneNode(true).content
          t.querySelector('.profile-pic').src = comment.data.author.photo
          t.querySelector('.author').textContent = comment.data.author.name
          t.querySelector('.author').href = comment.data.author.url
          t.querySelector('.content').innerHTML = comment.data.content

          t.querySelector('time a').href = comment.data.url
          t.querySelector('time a').textContent = comment.data.published
          container.appendChild(t)
        }
      })
    </script>
  </head>
  <body style="padding: 1em" class="d-flex flex-column">
    <div id="container" style="flex: 1;max-width: 40em;margin: auto;">
      <div class="post">
        {{#if photo}}
        <div class="image mb-1">
          <img src="{{photo.url}}" alt="{{photo.alt}}" width="100%">
        </div>
        {{/if}}
        <div class="body">
          {{#markdown}}{{{note.content}}}{{/markdown}}
        </div>
        <a href="/notes/{{note.slug}}" class="timestamp">
          <time>{{note.timestamp}}</time>
        </a>
      </div>
      <h3>Replies</h3>
      <template id="comment">
        <div class="post d-flex flex-row">
          <img class="profile-pic mr-1" />
          <div class="d-flex flex-item flex-column">
            <div class="content flex-item"></div>
            <div class="d-flex" style="justify-content: space-between">
              <a class="author"></a>
              <time class="timestamp">
                <a href=""></a>
              </time>
            </div>
          </div>
        </div>
      </template>
      <template id="like">
        <div class="post d-flex flex-row">
          <img class="profile-pic small mr-1" />
          <div class="d-flex flex-item flex-column">
            <div class="content flex-item">
              <a class="author"></a> liked this note
            </div>
            <div style="text-align: right">
              <time class="timestamp">
                <a href=""></a>
              </time>
            </div>
          </div>
        </div>
      </template>
    </div>
    <a href="/notes" class="btn">
      Back to notes
    </a>
  </body>
</html>
