<html>
  <head>
    <title>Notes</title>
    <link rel="icon" data-emoji="ðŸ“" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/scripts/emoji-favicon.js"></script>
    <link rel="stylesheet" href="/index.css">
    
    <link rel="me" href="https://micro.blog/koddsson">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://koddsson.com/micropub">
  </head>
  <body style="padding: 1em" class="d-flex flex-column">
    <div style="flex: 1;max-width: 40em;margin: auto;">
      <div class="post">
        {{#if photo}}
        <div class="image mb-1">
          <img src="{{photo.url}}" alt="{{photo.alt}}" width="100%">
        </div>
        {{/if}}
        <div class="body">
          {{#markdown}}{{{note.content}}}{{/markdown}}
        </div>
        <a href="/notes/{{note.slug}}" class="timestamp">
          <time>{{note.timestamp}}</time>
        </a>
      </div>
    </div>
    <a href="/notes" class="btn">
      Back to notes
    </a>
  </body>
</html>
